<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>General Resume</title>
  </head>
  <body>
    <script type="text/template" id="header">
      <header>
        <h1><%= full_name %></h1>
	<p><%= address %></p>
	<p><%= phone_number %></p>
	<p><%= email %></p>
      </header>
    </script>
    <script src="js/jquery-3.0.0.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/resume.js"></script>
  </body>
</html>

